* {
	box-sizing: border-box;
}
body {
	background-image: url(/img/bkg.jpg);
	font-family: Montserrat, sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	min-height: 100vh;
	margin: 0;
}
.card-container {
	background-color: #7e57c2;
	border-radius: 25px;
	box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.35);
	color: #b3b8cd;
	padding: 30px 0 0;
	position: relative;
	width: 350px;
	max-width: 100%;
	text-align: center;
	margin: 20px 0;
	overflow: hidden;
}
.location {
	color: whitesmoke;
	background-color: #febb0b;
	border-radius: 3px;
	font-size: 14px;
	font-weight: bold;
	padding: 3px 7px;
	position: absolute;
	top: 30px;
	left: 31px;
}
.card-container img {
	border-radius: 50%;
	border: 2px solid #00aeff;
	width: 150px;
	height: 150px;
	padding: 7px;
}
h3 {
	margin: 10px 0;
	color: whitesmoke;
}
h6 {
	font-size: 12px;
	margin: 5px 0;
	text-transform: uppercase;
	color: aliceblue;
}
p {
	color: white;
	font-size: 14px;
	line-height: 21px;
}
.button.primary {
	background-color: #3ab82a;
	border: 1px solid cyan;
	border-radius: 3px;
	color: #fff;
	font-family: Montserrat, sans-serif;
	font-weight: 500;
	padding: 10px 25px;
}
.button.primary.ghost {
	background-color: #3ab82a;
	color: #fff;
}
.text-con {
	color: #fff;
}
.skill {
	background-color: #4d2c91;
	text-align: left;
	padding: 15px;
	margin-top: 30px;
}
.skill ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
.skill ul li {
	border: 1px solid #2d2747;
	border-radius: 2px;
	display: inline-block;
	font-size: 12px;
	margin: 0 7px 7px 0;
	padding: 7px;
}
.button.primary button {
	border: 0px !important;
}
