*{
    box-sizing: border-box;
}
body{
    background-image: url(/img/bkg.jpg);
    font-family: Montserrat, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    margin:0;
}
.card-container{
    background-color: #7e57c2;
    border-radius: 25px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.35);
    color: #b3b8cd;
    padding: 30px 0 0;
    position: relative;
    width: 350px;
    max-width: 100%;
    text-align: center;
    margin: 20px 0;
    overflow: hidden;

}
.location{
    color: whitesmoke;
    background-color: #febb0b;
    border-radius: 3px;
    font-size: 14px;
    font-weight: bold;
    padding: 3px 7px;
    position: absolute;
    top: 30px;
    left:31px;
}